@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--headerbg : #EFE0AE;
--btnbg : #00715D;
--yellow : #FFD502;
--beige : #F9F5E8;
--pgColor : #718096;
}

body{
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
